.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1dvh 2dvw; /* Dynamiczny padding */
  background-color: #282c34;
  min-height: 10dvh; /* Wysokość dopasowana do urządzenia */
}

.menu {
  height: 10dvh; /* Dopasowanie do wysokości paska */
  width: 50dvw; /* Menu zajmuje 50% szerokości ekranu */
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 2dvw;
  padding: 0;
  margin: 0;
  height: 100%;
}

.menu li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* Efekt poświaty na cały blok */
.menu li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 2dvh rgba(255, 255, 255, 0.3);
  border-radius: 0.5dvh;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 0;
}

.menu li:hover::before {
  opacity: 1;
}

.App-link {
  text-decoration: none;
  color: white;
  font-size: 2dvh; /* Skalowane według wysokości ekranu */
  padding: 2dvh 3dvw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.App-link:hover {
  background: #131518;
  color: #1462ff;
}
