/* GLOBAL SETTINGS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #333;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  user-select: none;
}
/* MAIN CONTENT */
main {
  margin-left: 18dvw; /* Same width as the menu */
  margin-top: 10dvh; /* Adjust for fixed header height */
  padding: 2dvh;
  overflow-y: auto;
  width: calc(100% - 18dvw); /* Take up remaining space */
}

/* Custom scrollbar */
main::-webkit-scrollbar {
  width: 8px;
}

main::-webkit-scrollbar-track {
  background: #1b1b1b;
}

main::-webkit-scrollbar-thumb {
  background: #9a66ff;
  border-radius: 2px;
}

main::-webkit-scrollbar-thumb:hover {
  background: #7a50cc;
}


/* MOBILE VERSIONS
@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }

  .menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .menu.active {
    transform: translateX(0);
  }

  main {
    margin-left: 0;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
  }

  .menu.active ~ main {
    opacity: 0.5;
    pointer-events: none;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10dvw;
    height: 10dvh;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 11;
  }

  .menu-toggle .bar {
    width: 8dvw;
    height: 0.5dvh;
    background-color: #9a66ff;
    margin: 0.5dvh 0;
    transition: 0.4s;
  }

  .menu-toggle.open .top {
    transform: translateY(1.5dvh) rotate(45deg);
  }

  .menu-toggle.open .middle {
    opacity: 0;
  }

  .menu-toggle.open .bottom {
    transform: translateY(-1.5dvh) rotate(-45deg);
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    gap: 2dvh;
  }

  .menu li {
    text-align: center;
  }

  .App-link {
    font-size: 1.875rem;
    padding: 1.5dvh 2dvw;
    text-align: center;
    justify-content: center;
  }

  .App-link svg {
    display: none;
  }

  /* Zmiany dla tabeli na urządzeniach mobilnych */
  /* .wonderkids-table {
    width: 100%;
    overflow-x: auto; /* Tylko tabela przesuwa się w poziomie */
    /* display: block; Umożliwia poziome przewijanie */
  /* } */
/* } */